<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Fortune Roller</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/card.jpg" alt="face logo" /></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/account">User: {{account.username}} </a></div> {{!-- Calls session data --}}
    <div class="navinfo">Birthday: {{account.birthday}}</div>
    <div class="navinfo">Zodiac: {{account.zodiac}}</div>
    <div class="navinfo">Score: {{account.score}}</a></div>
  </nav>

  <section id="app">

  </section>
  {{!-- Error Code --}}
  <div id="fortuneMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech bubble" />
    <h3><span id="errorMessage"></span></h3>
    <img id="teller" src="assets/img/fortune-teller.png" alt="magic man in cape" />
  </div>
  <script src="/assets/appBundle.js"></script>
</body>

</html>