html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #12000d;
    color: #e5e5e5;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 40px;
    padding-top: 5px;
    float: left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #2a0054;
    display: flex;
    align-items: center;
    padding: 5px;
}

nav:nth-child(1) {
    padding-left: 25px;
}



.navlink a:link,
.navlink a:visited,
.navlink a:hover,
.navlink a:active {
    color: rgba(255, 167, 43, 0.829);
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #2a0054;
    transition: background-color 0.4s ease;
}

.navlink a:hover,
.navinfo a:hover {
    transition: background-color 0.8s ease;
    background-color: #76307c;
}

.navinfo a,
.navlink a {
    color: rgba(255, 201, 6, 0.829);
    font-size: 1.3em;
    float: left;
}

.navinfo,
.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: rgba(255, 201, 6, 0.829);
    font-size: 1.3em;
    float: left;
}


.navinfo a:link,
.navinfo a:visited,
.navinfo a:hover,
.navinfo a:active {
    color: rgba(255, 201, 6, 0.829);
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #2a0054;
    transition: background-color 0.4s ease;
}


.betBox {
    border: 2px solid #9c55ee;
    height: 35px;
    width: 700px;
    margin-top: 0px;
    padding-top: 10px;
    background-color: #200116;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-radius: 6px;
    margin: 0 auto;
}

.betBox label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.betBox input[type=text] {
    float: left;
}

.cardRollSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 110px;
    margin-left: 2px;
    background-color: #a98823;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.cardRollSubmit:link,
.cardRollSubmit:visited,
.cardRollSubmit:hover,
.cardRollSubmit:active {
    color: white;
}

.cardRollSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 150px;
    font-size: 1.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    /* margin-right: 10px; */
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 120px;
    background-color: #38b462;
    border-radius: 5px;
    border-color: #004310;
    padding: 3px 0px;
    color: rgb(255, 214, 137);
    text-decoration: none;
}

.formSubmit:link,
.formSubmit:visited,
.formSubmit:hover,
.formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user,
#pass,
#pass2,
#birthday {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;

}

#user:focus,
#pass:focus,
#pass2:focus,
#birthday:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.hidden {
    display: none;
}

#fortuneMessage {
    position: absolute;
    top: 250px;
    /* width: 250px; */
    height: 650px;
    z-index: 200;
    right: 0px;
    overflow: hidden;
    color: #ffe9c4;
}

#fortuneMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index: 300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}


h3.empty {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.cardBet {
    float: left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}



.rollList:first-child {
    margin-top: 10px;
}

.rollList:last-child {
    margin-bottom: 10px;
}

/* Styling for card decks */
#rolls {
    margin: 1rem auto;
    text-align: center;
    /* grid-area: deck; */
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
    justify-self: center;
}

.rollCards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 16px;
    flex-wrap: nowrap;
}

/* Background for the whole spread */
.roll {
    width: 90%;
    min-width: 20px;
    border: 2px solid #9c55ee;
    border-radius: 3px;
    background: #200116;
    box-shadow: 2px 2px black;
}

/* cards themselves */

.cardFace {
    width: 6rem;
    height: auto;
    border-radius: 2px;
}


.cardLayout {
    /* grid-area: result; */
    color: #c1c1c1;
    border: solid 2px rgb(109, 47, 47);
    box-shadow: 2px 2px rgba(89, 89, 89, 0.358);
    background-color: rgba(26, 0, 32, 0.29);
}

.cardLabel {
    font-size: 1em;
    text-align: center;
    margin-top: 2px;
    color: antiquewhite;
}